<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="imoneyadmin">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Imoney Admin</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script >


        var scotchTodo = angular.module('imoneyadmin', []);

    function mainController($scope, $http) {
        $scope.formData = {};
        $scope.customer= {};
        $scope.showme=true;
        $scope.cutomerId ={};
        $scope.customerName={};

        // when submitting the add form, send the text to the node API
        $scope.loadCustomer = function() {
           $scope.showme=false;
            console.log( $scope.formData);
            var data = JSON.stringify($scope.formData);
            console.log(data);
            $http.post('/api/aadharDetails',data,
                    {headers: { 'Content-Type':'application/json','appid':'123'}

                    })
                    .success(function(data) {
                        $scope.formData = {}; // clear the form so our user is ready to enter another

                        console.log(data);
                        $scope.customer = data.result.customerInfo;
                        $scope.customerId=data.result.customerInfo._id;
                        $scope.customerName=data.result.customerInfo.first_name + " " +data.result.customerInfo.last_name;
                        console.log( $scope.customer);

                    })
                    .error(function(data) {
                        console.log('Error: ' + data);
                    });
        };


        $scope.loadCash = function() {
           // $scope.showme=true;
            console.log( $scope.formData1);
            var data = $scope.formData1;
            console.log(data);

            var params={};
             params.amount = data.amount;
             params.customerid = $scope.customerId;

            $http.post('/api/creditImoney',params,
                    {headers: { 'Content-Type':'application/json','appid':'123'}

                    })
                    .success(function(data) {
                        $scope.formData1 = {}; // clear the form so our user is ready to enter another
                        console.log(data);
                        $scope.balanceAfterCredit = data.result.balance;
                        console.log( $scope.balanceAfterCredit);
                        alert("Rs." + params.amount + " successfully creaded to" + "" +  $scope.customerName );
                        $scope.showme=true;

                    })
                    .error(function(data) {
                        console.log('Error: ' + data);
                    });
        };

        // delete a todo after checking it
       /* $scope.deleteTodo = function(id) {
            $http.delete('/api/todos/' + id)
                    .success(function(data) {
                        $scope.todos = data;
                        console.log(data);
                    })
                    .error(function(data) {
                        console.log('Error: ' + data);
                    });
        };*/

    }

    </script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
<div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center" style="    background-color: #f5821f; color: #FFF">
        <h1>Imoney Admin</h1>
    </div>



    <!-- FORM TO CREATE TODOS -->
    <div id="aadhar-number-form" class="row" ng-show="showme">

        <div class="col-sm-8 col-sm-offset-2 text-center" >
            <form>
                <div class="form-group">
                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="Adhar Number" ng-model="formData.aadhar_number"><br>
                </div>
                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="loadCustomer()">Load Customer</button>
            </form>
        </div>

    </div>

    <div id="load-cash-form" class="row" ng-hide="showme">

        <div class="col-sm-8 col-sm-offset-2 text-center" >
            <form>
                <div class="form-group">

                    <ul class="list-group">
                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->

                    <li class="list-group-item active">Customer Information</li>
                    <li class="list-group-item">Customer Name : {{customer.first_name + ' ' + customer.last_name}}</li>
                    <li class="list-group-item">Mobile Number : {{customer.mobile_number}}</li>
                    <li class="list-group-item">Wallet Balance :{{customer.wallet.balance}}</li>
                    <li class="list-group-item">Savings Balance :{{customer.locker_amount}}</li>

                    </ul>
                    <input type="number" min="100" max="5000" class="form-control input-lg text-center" placeholder="Cash" ng-model="formData1.amount"><br>


                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="loadCash()">Load Cash</button>
            </form>

    </div>

    </div>



</div>

</body>
</html>